@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), local('Roboto-Regular'),
        url('Roboto-Regular.woff2') format('woff2'),
        url('Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Golos Text';
    src: local('Golos Text Bold'), local('GolosText-Bold'),
        url('GolosText-Bold.woff2') format('woff2'),
        url('GolosText-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Golos Text';
    src: local('Golos Text Regular'), local('GolosText-Regular'),
        url('GolosText-Regular.woff2') format('woff2'),
        url('GolosText-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: local('Rubik Bold'), local('Rubik-Bold'),
        url('Rubik-Bold.woff2') format('woff2'),
        url('Rubik-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: local('Rubik Light'), local('Rubik-Light'),
        url('Rubik-Light.woff2') format('woff2'),
        url('Rubik-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: local('Rubik Medium'), local('Rubik-Medium'),
        url('Rubik-Medium.woff2') format('woff2'),
        url('Rubik-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: local('Rubik Regular'), local('Rubik-Regular'),
        url('Rubik-Regular.woff2') format('woff2'),
        url('Rubik-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

