//wrapper-deposit_speed3

.wrapper-deposit_speed3 {
  .main-form {
    top: 50%;
    left: 0;

    @media screen and (max-width: 991px) {
      transform: translateY(9%);
    }
  }

  .slider {
    background: url(../../../public/images/depositpSpeed3-pc.png) 50%/cover no-repeat;
    min-height: 672px;

    @media screen and (max-width: 991px) {
      background: url(../../../public/images/depositpSpeed2-mobi.png) 50% no-repeat;

      background-size: cover;
      min-height: 340px;
    }

    .cart-mini__title {
      margin-bottom: 34px;
      font-weight: 400;
      font-size: 18px;
    }

    .cart-mini__items {
      display: flex;
    }

    .cart__content {
      margin: 0;
    }
  }

  .cart-mini{
    &__inner{
      margin: 0;
    }
  }

  .calculator{
    &.calculator-mobi{
      display: none;
      @media screen and (max-width: 991px) {
        display: flex;
      }
    }

    &.calculator-mini{
      @media screen and (max-width: 991px) {
        display: none;
      }
    }

    @media screen and (max-width: 991px) {
      margin-top: 190px;
    }

    &__inner{
      justify-content: center;
    }
    &__form{
      position: relative;
      margin: 0;
      &:before{
        content: '' ; 
        display: inline-block;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0px;
        top: 0px;
        background: #FFFFFF;
        opacity: 0.1;
        border-radius: 16px;
        z-index: -1;
      }
    }

    &__text{
      max-width: 420px;
    }
  }

  .work-mini{
    margin-top: 10px;
    padding: 217px 0 124px;
    background: url(../../../public/images/deposit_speed1-pc.png) 50% no-repeat;

    .btn{
      max-width: 260px;
      height: 64px;

      @media screen and (max-width: 991px) {
        margin: 0 auto;
      }
    }

    &__title{
      @media screen and (max-width: 991px) {
        font-weight: 500;
        font-size: 22px;
        line-height: 32px;
        letter-spacing: 0.5px;
        max-width: 247px;
      }
    }

    @media screen and (max-width: 991px) {
      background: url(../../../public/images/deposit_speed1-mobi.png) 50% no-repeat;
      background-size: cover;
      padding: 0;
    }
  }

  .paizick {
    margin: 0;
    &__items {
      margin: 0;
    }
  }

}
