// Swiper

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  color: #fff;
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
  color: #fff;
}

.swiper-button-prev:after, .swiper-button-next:after {
  font-size: 16px !important;
}

.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 58px !important;
  @media screen and (max-width: 767px) {
    bottom: 28px !important;
  }
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 8px) !important;
  width: 8px !important;
  height: 8px;
  background: #fff !important;
}

.slider{
  .main__inner{
    padding-left: 30px;
  }
}